<div class="test-form">
  <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <input formControlName="userName" nz-input placeholder="Username"/>
        </nz-input-group>
        <!--        <nz-form-explain *ngif="userName.invalid && (userName.dirty || userName.touched)">请输入用户名！</nz-form-explain>-->
        <span style="color: red" *ngIf="userName.invalid && (userName.dirty || userName.touched)">请输入用户名 </span>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group>
          <input formControlName="password" nz-input type="password" placeholder="Password"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" type="submit" [disabled]="!validateForm.valid">Log in</button>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <button nz-button nzType="primary" type="button" (click)="textClick()">Click</button>
    </nz-form-item>
  </form>
</div>
<div>
  <button nz-button nzType="primary" (click)="testClick()">点击</button>
</div>
